.footer {
  background-color: #ed1d24;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img {
  width: 50%;
  margin: 20px 0;
}

.footer__text {
  color: white;
  font-family: 'Futura';
  margin-bottom: 10px;
}

@include medium {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__img {
    width: 15%;
  }

}
