.section__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.produit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./../img/star.jpg');
}

.produit__title {
  color: white;
  font-family:'Peace';
  font-size: 2rem;
  width: 75%;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 30px;

  span {
    font-size: 1.7rem;

  }
}

.produit__nes {
  order: 1;
  width: 100%;
}

.produit__texte {
  color: white;
  order: 2;
  font-family:'Futura';
  text-align: justify;
  letter-spacing: 1px;
  font-size: 1.4rem;
  text-align-last: center;
  margin: 20px 0;
}

@include medium {

  .section__container {
    flex-direction: row;
  }

.produit__title {
  font-size: 3rem;
  width: 50%;
  margin-top: 30px;

  span {
    font-size: 2.5rem;
    }

  }

  .produit__texte {
  font-size: 1.4rem;
  margin-left: 50px;
}
}
