include ../partials/header.pug

<section class="home">
  <div class="home__slide">
     <p class="home__texte">The <span>NES</span> is Back</p>
  </div>

   <div class='home__scroll'><div/>
</section>

<section class="produit">

</section>

<div id="spacer">
</div>


<section class="arguments">

</section>

<div id="spacer2">
</div>

<section class="jeux">

</section>




include ../partials/footer.pug
