<!DOCTYPE html>
<html>
  <head>
    <title>NES</title>
    <link rel="stylesheet" type="text/css" async href="css/styles.css">
    <link rel="icon" href="./../img/favicon.ico" />
  </head>
  <body>
    <header>
      <nav class="header__navbar">
        <div class="header__menu">
          <ul class="header__content">
            <li><a class="header__item glissement" href=".home"></a></li>
            <li><a class="header__item glissement" href=".produit">La NES</a></li>
            <li><a class="header__item glissement" href=".arguments">Erreur404</a></li>
            <li><a class="header__item glissement" href=".jeux">Les Jeux</a></li>
          </ul>
        </div>
      </nav>
    </header>
