<!DOCTYPE html>
<html>
  <head>
    <title>NES</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="icon" href="./../img/favicon.ico" />
  </head>
  <body>
    <header>

    </header>
