<section class="home">
  <div class="home__slide">
    <p class="home__texte">The <span>NES</span> is Back</p>
  </div>
  <div class='home__scroll'><div/>
  </section>
  <section class="produit">
    <h2 class="produit__title">LA <span class="red">CONSOLE</span> PAR LAQUELLE TOUT A COMMENCÉ</h2>
    <div class="section__container">
      <img class="produit__nes" src="./../img/nes.png" alt="nes"/>
      <p class="produit__texte">Ce qui était au départ le Famicom au Japon finit par devenir la machine qui sauva l'industrie du jeu vidéo. Après une chute énorme du marché des jeux à l'ouest, le Nintendo Entertainment System a démenti les experts en se vendant par millions. Les joueurs se ruèrent pour voir et pour jouer à des classiques comme Super Mario Bros, The Legend of Zelda et Excitebike, autant de titres qui étaient déjà tellement en avance sur ceux des autres consoles de salon.<br/>
      </div>
    </section>
    <div class="spacer">
      <a class="spacer__button" href="https://www.amazon.fr/Console-Nintendo-NES-Classic-Mini/dp/B01IFJEWTM" target="_blank">C'est parti</a>
    </div>
    <section class="arguments">
      <h2 class="produit__title">LA <span class="red">CONSOLE</span> RETRO VERSION 2.0</h2>
      <div class="section__container section__container--wrap">
        <figure class="argument__item">
          <img class="argument__picto" src="./../img/picto_save.png" alt="">
          <figcaption class="argument__title">Sauvegardez a tout moment</figcaption>
          <p class="argument__text">Reprenez votre partie exactement là où vous vous êtes arrêté grâce aux quatre points d'interruption disponibles pour chaque jeu. Vous avez également la possibilité de verrouiller un fichier de sauvegarde de manière à reprendre votre partie plus tard sans risquer de perdre votre progression.</p>
        </figure>
        <figure class="argument__item">
          <img class="argument__picto" src="./../img/picto_save.png" alt="">
          <figcaption class="argument__title">Modes d'affichage</figcaption>
          <p class="argument__text">Reprenez votre partie exactement là où vous vous êtes arrêté grâce aux quatre points d'interruption disponibles pour chaque jeu. Vous avez également la possibilité de verrouiller un fichier de sauvegarde de manière à reprendre votre partie plus tard sans risquer de perdre votre progression.</p>
        </figure>
        <figure class="argument__item">
          <img class="argument__picto" src="./../img/picto_save.png" alt="">
          <figcaption class="argument__title">Plus de 30 jeux</figcaption>
          <p class="argument__text">Reprenez votre partie exactement là où vous vous êtes arrêté grâce aux quatre points d'interruption disponibles pour chaque jeu. Vous avez également la possibilité de verrouiller un fichier de sauvegarde de manière à reprendre votre partie plus tard sans risquer de perdre votre progression.</p>
        </figure>
      </div>
    </section>
    <div class="spacer">
      <a class="spacer__social" href="https://twitter.com/nintendofrance" target="_blank">
        <img src="./../img/twitter.png" alt="twitter">
      </a>
      <a class="spacer__social" href="https://www.facebook.com/NintendoFR/?brand_redir=119240841493711" target="_blank">
        <img src="./../img/facebook.png" alt="facebook">
      </a>
      <a class="spacer__social" href="https://www.reddit.com/r/nintendo/" target="_blank">
        <img src="./../img/reddit.png" alt="reddit">
      </a>
    </div>
    <section class="jeux">
      <h2 class="produit__title">Bienvenue dans un monde merveilleux en <span class="red">8-bits</span></h2>
      <div class="section__container section__container--wrap">
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/1_mario.png" alt="Mario">
          <figcaption class="jeux__text">Super Mario Bros.</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/2_mario3.png" alt="Mario3">
          <figcaption class="jeux__text">Super Mario Bros.3</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/3_zelda.png" alt="Zelda">
          <figcaption class="jeux__text">The Legend of Zelda</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/4_donkey.png" alt="Donkey Kong">
          <figcaption class="jeux__text">Donkey Kong</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/5_Metroid.png" alt="Metroid">
          <figcaption class="jeux__text">Metroid</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/6_KirbysAdventure.png" alt="Kirby">
          <figcaption class="jeux__text">Kirby's Adventure</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/7_SuperMarioBros2.png" alt="Mario2">
          <figcaption class="jeux__text">Super Mario Bros.2</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/8_DrMario.png" alt="DrMario">
          <figcaption class="jeux__text">Dr.Mario</figcaption>
        </figure>
        <figure class="jeux__items">
          <img class="jeux__picto" src="./../img/9_Punch-Out.png" alt="Punch Out">
          <figcaption class="jeux__text">Punch Out</figcaption>
        </figure>
      </div>
    </section>
