
@mixin size ($width, $height){
  width : $width;
  height : $height;
}

@mixin hoverable (){
  &:hover{
    color:blue;
  }
}
$small: 320px;
$medium: 768px;
$large: 1024px;

@mixin small(){
  @media (min-width: #{$small}) {
    @content;

  }
}


@mixin medium(){
  @media (min-width: #{$medium}) {
    @content;

  }
}

@mixin large(){
  @media (min-width: #{$large}) {
    @content;

  }
}
