$small: 550px;
$medium: 980px;
$large: 980px;

@mixin small(){
  @media (min-width: #{$small}) {
    @content;

  }
}


@mixin medium(){
  @media (min-width: #{$medium}) {
    @content;

  }
}

@mixin large(){
  @media (min-width: #{$large}) {
    @content;

  }
}
