//==================================================== IMPORT =======================================================
@import  'mixins';
@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/home';
@import 'blocs/produit';
@import 'blocs/argument';
@import 'blocs/jeux';
@import 'blocs/spacer';


//==================================================== FONTS ======================================================

@font-face {
 font-family: "Nes";
 src: url("../fonts/nes/NES_Controller.ttf") format("truetype");
}

@font-face {
 font-family: "Peace";
 src: url("../fonts/Peace-Sans.ttf") format("truetype");
}

@font-face {
 font-family: "8bit";
 src: url("../fonts/8bitwonder.ttf") format("truetype");
}

@font-face {
 font-family: "Futura";
 src: url("../fonts/futura/FuturaPTMedium.otf");
}

//==================================================== ALL =======================================================

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  height:100%;
}

body {
  height: 100%;
  position: relative;
  &::-webkit-scrollbar { width: 0 !important } //On enlève la barre de scroll du navigateur
}

span {
    color: #f02933;
    font-family: '8bit';
  }

.section__container--wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}










